<configuration>
    <appender name="resumeLog" class="ch.qos.logback.core.rolling.RollingFileAppender">       
        <file>target/logs/resume.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d %-5p [%t]:%X{txId} %c{1} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        	<fileNamePattern>target/logs/resume.%d{yyyy-MM-dd-HH-mm}.%i.log</fileNamePattern>	        
             <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
			<maxFileSize>100MB</maxFileSize>    
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>	       
	    </rollingPolicy>
    </appender>
    <appender name="springLog" class="ch.qos.logback.core.FileAppender">      
        <file>target/logs/spring.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d %-5p [%t]:%X{txId} %c{1} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
<!--         <withJansi>true</withJansi>  --> <!-- Coloring doesn't work in windows 10 with logback. -->
        <encoder>
            <pattern>%d %highlight(%-5level) [%t]:%X{txId} %c{1} - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
	<logger name="com.tecxis" level="debug"/>
	<!-- No appender accumulation. Only appender springLog will be used. See additivity setting: http://logback.qos.ch/manual/architecture.html-->
    <logger name="org.springframework" level="info" additivity="false">
    	<appender-ref ref="springLog"/>
    </logger>

    <logger name="net.ttddyy.dsproxy.listener" level="debug"/>

    <logger name="bitronix.tm" level="warn"/>
	
	<logger name="net.sf.ehcache" level="info"/>
    <logger name="com.vladmihalcea" level="debug"/>
	
	<logger name="org.hibernate" level="info"/>
    <logger name="org.hibernate.hql" level="info"/>
    <logger name="org.hibernate.event.internal" level="info"/>
    <logger name="org.hibernate.engine.transaction.internal" level="info"/>
    <logger name="org.hibernate.cache" level="debug"/>
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="info"/>
    <!-- Logs SQL statements -->
<!--     <logger name="org.hibernate.SQL" level="debug"/> -->
    <!-- Logs JDBC bind parameters -->
<!--     <logger name="org.hibernate.type.descriptor.sql" level="trace"/> -->
    <logger name="org.hibernate.SQL_SLOW" level="info"/>    
    
	<root>
		<appender-ref ref="resumeLog"/>
		<appender-ref ref="console"/>
	</root>
</configuration>